@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* height: 100%; */
}
html,
body {
  /* height: 100%; */
  color: #fff;
  background: #000;
}

main {
  background: #000;
  min-height: 100dvh;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f44336;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fade-in 0.7s cubic-bezier(.48,.12,.5,1) both;
  }
  @keyframes fade-in {
    from { opacity: 0; transform: translateY(15px);}
    to   { opacity: 1; transform: none;}
  }
}
